# Config and Htaccess Files
/upload/.htaccess
/upload/config.php
/upload/admin/config.php

# Local and OS Files
.DS_Store
.ftpquota
error_log
*.log
/.well-known/
/upload/.well-known/*
!/upload/.well-known/apple-developer-merchantid-domain-association
/web/
/cgi-bin/
/upload/cgi-bin/

# Image Cache Files
/upload/image/cache/*
!/upload/image/cache/index.html
/upload/image/catalog/
/upload/image/tmp/

# Backup Files
/upload/system/storage/backup/*
!/upload/system/storage/backup/index.html
/storage/backup/*
!/storage/backup/index.html

# System Cache Files
/upload/system/storage/cache/*
!/upload/system/storage/cache/index.html
/storage/cache/*
!/storage/cache/index.html

/storage/modification/*
!/storage/modification/index.html

# Download Files
/upload/system/storage/download/*
!/upload/system/storage/download/index.html
/storage/download/*
!/storage/download/index.html

# Log Files
/upload/system/storage/logs/*
!/upload/system/storage/logs/index.html
/storage/logs/*
!/storage/logs/index.html

# Marketplace Files
/upload/system/storage/marketplace/*
!/upload/system/storage/marketplace/index.html
/storage/marketplace/*
!/storage/marketplace/index.html

# Session Files
/upload/system/storage/session/*
!/upload/system/storage/session/index.html
/storage/session/*
!/storage/session/index.html

# Upload Files
/upload/system/storage/upload/*
!/upload/system/storage/upload/index.html
/storage/upload/*
!/storage/upload/index.html

# Composer Dependencies
/storage/vendor/
/storage/vendor-old/

# If you want to ignore install file use following lines [on development mode]
# /upload/install/*

# IDE Project files
/.idea
/upload/.idea
/upload/env.php
